.event-time-class{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event-time-class input{
    width: 400px;
}
.scroll-div{
    max-height: 300px; 
  overflow-y: auto;
}
.scroll-div::-webkit-scrollbar{
    width: 0;
}
.event-creation{
    margin-top: 100px;
  }